html,body {background-color: black;color: #666;font-family: helvetica;font-size: 10pt;}
a:link              { color:#ddd; text-decoration:underline; }
   a:visited           { color:#888; text-decoration:underline; }
   a:hover             { color:#fff; text-decoration:underline; }
   a:active            { color:#fff; text-decoration:underline; }
img {border:none;}
h2 { font-size: 1.2em; font-weight: bold; display: block; }
h3 { font-size: 1em; font-weight: bold; display: block; }
div.item, div.errors {
  display:block;
  float:left;
  height:30em;
  width:200px;
  border:1px solid silver;
  border-collapse:collapse;
  background-color:#0a0a0c;
  padding-left:0.5em;
  padding-right:0.5em;
  overflow: auto;
}
  div.item h2.title { text-align: center; }
  div.item img.icon {
    display:block;
    margin:0 auto;
    max-width:140px;
    max-height:125px;
    padding-bottom:0.5em;
  }

  div.item label { 
    font-weight:bold;
    margin-right:0.5em;
  }
    div.item label.price { }
    div.item label.value { }

  div.item span { 
    text-align:right;
    font-size:0.8em;
  }
    div.item span.price { }
    div.item span.value { }

  div.item h3 { margin:0.5em 0 0.5em 0; }
  div.item ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
  }
    div.item ul li {
      list-style:none;
      padding:0 0 0.2em 0.7em;
      font-size:0.8em;
    }

  div.item h3.passive-bonuses { }
  div.item ul.passive-bonuses { }
    div.item li.passive-bonus { }

  div.item h3.active-bonuses { }
  div.item ul.active-bonuses { }
    div.item li.active-bonus { }

  div.item h3.death-notes { }
  div.item ul.death-notes { }
    div.item li.death-note { }

  div.item h3.cyclone-effects { }
  div.item ul.cyclone-effects { }
    div.item li.cyclone-effect { }

  div.item h3.required-items { }
  div.item ul.required-items { }
    div.item li.required-item { }

 .raw-toggle { display: block; color: #9f1a1a; font-style: italic; margin-top: 0.5em; cursor: pointer;}
 .raw {
   display: none;
   background-color:#0e0e0f;
 }